#! /bin/sh

# PROVIDE: musashi

#
# Add the following lines to /etc/rc.conf to enable musashi:
#
#musashi_enable="YES"

. /etc/rc.subr

name="musashi"
rcvar="musashi_enable"

load_rc_config $name

: ${musashi_user:=musashi}
: ${musashi_enable:=NO}
: ${musashi_directory:=/srv/bots/musashi}
: ${musashi_log:=$musashi_directory}
: ${musashi_perl6:=/usr/local/bin/perl6}

musashi_flags="-I${musashi_directory}/lib"

required_files=${musashi_perl6}

command="${musashi_perl6}"
command_args="${musashi_directory}/bin/musashi.pl6 2>> ${musashi_log}/musashi.err >> ${musashi_log}/musashi.log &"

run_rc_command "$1"
